* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Trirong", serif;
}

/* NavBar */

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav img {
    background-color: white;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 40px;
}

nav ul {
    background-color: white;
    display: flex;
    align-items: center;
}

nav ul li {
    background-color: white;
    margin-left: 35px;
    list-style: none;
}

nav ul a {
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: 0.3s ease;
}

nav ul li :hover{
    color: #9e1818;
}

nav div {
    display: flex;
    align-items: center;

}

.title {
    text-decoration: none;
    margin-left: 1vw;
}

nav div :hover {
    color: #9e1818;
}

/* Home */

#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(Images/bg1.jpg);
    background-size: cover;
    background-position: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f5f1ff;
    width: 100%;
    height: 100vh;
}

#home h2 {
    font-size: 27px;
    margin-bottom: 8px;
}

#home p {
    width: 40vw;
    font-size: 17px;
}

#home button {
    margin: 8px;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px;
}

#home button a {
    text-decoration: none;
}

/* About */

#About {
    margin-top: 5px;
    background-color: #efebff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    width: 100%;
    height: 100vh;
}

#About h2 {
    font-size: 27px;
    margin-bottom: 8px;
}

#About p {
    width: 40vw;
    font-size: 17px;
}


.about_us {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 35vh;
}

.about_us div {
    background-color: #beb4ff;
    border-radius: 10px;
    padding: 10px;
}

.teachers {
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
}

.teachers ol li {
    padding: 10px;
    background-color: #beb4ff;
    border-radius: 10px;
}

/* Our Books */

#books {
    display: flex;
    flex-direction: column;
    background-color: #efebff;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    color: black;
    width: 100%;
    height: 100vh;
}

#books h2 {
    margin-top: 10vh;
    font-size: 2rem;
}

#books ul {
    display: flex;
    align-items: center;
}

#books ul li {
    margin-top: 8vh;
    background-color: white;
    margin-left: 35px;
    list-style: none;
    /* border: 2px solid red; */
    border-radius: 10px;
    padding: 10px;
    background-color: #beb4ff;
}

#books span {
    font-weight: bold;
}

#books img {
    background-color: white;
    width: 12vw;
    height: 35vh;
}

#books button {
    margin: 8px;
    font-size: 17px;
    border-radius: 6px;
}

#books button :hover {
    background-color: aquamarine;
}

#books ul a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: 0.3s ease;
}

/* Courses */

#courses {
    display: flex;
    flex-direction: column;
    background-color: #efebff;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    color: black;
    width: 100%;
    height: 100vh;
}

#courses h2 {
    margin-top: 12vh;
    margin-bottom: 6vh;
    font-size: 1.7rem;
}

#courses ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px 40px;
}

#courses div ul li {
    list-style: none;
    font-weight: bold;
}

#courses div ul li img {
    width: 15vw;
    height: 20vh;
}

#courses div ul li :hover{
    cursor: pointer;
}

/* Contact */

#contact {
    display: flex;
    flex-direction: column;
    background-color: #efebff;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    color: black;
    width: 100%;
    height: 100vh;
}

#contact h2{
    font-size: 1.7rem;
    margin-top: 12vh;
    margin-bottom: 6vh;
}

#contact div img {
    width: 20px;
    margin-right: 5px;
    height: 20px;
}

#contact span {
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 1.5rem;
}

#contact .container {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: auto auto;
}

#contact .right {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
}

#contact input {
    margin: 10px;
    border: 2px solid #beb4ff;
}

#name, #email, #phone {
    height: 5vh;
    width: 15vw;
    border-radius: 5px;
    text-align: center;
}

#message {
    height: 15vh;
    text-align: center;
    border-radius: 10px;
}

.container li{
    list-style: none;
    margin: 35px;
    cursor: pointer;
}

.container button {
    width: 180px;
    margin-left: 4vw;
    height: 30px;
    border-radius: 5px;
    background-color: #beb4ff;
    margin-top: 10px;
    cursor: pointer;
}

.container button img {

}