* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Trirong", serif;
}

/* NavBar */

nav {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(204, 193, 255);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
}
nav a {
    color: black;
}

nav ul li {
    list-style: none;
    font-size: 18px;
    margin: 12px;
    padding: 12px;
}

a:hover {
    cursor: pointer;
    color: aquamarine;

}

nav img {
    background-color: white;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 40px;
}

/* Home */
#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(Images/bg1.jpg);
    background-size: cover;
    background-position: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f5f1ff;
    width: 100%;
    height: 100vh;
}

#home h2 {
    font-size: 27px;
    margin-bottom: 8px;
    width: 70vw;
}

#home p {
    width: 40vw;
    font-size: 17px;
}

#home button {
    margin: 8px;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px;
}

#home button a {
    text-decoration: none;
    color: black;
}

/* About */

#About {
    margin-top: 5px;
    background-color: #efebff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    width: 100%;
    height: 100vh;
}

#About h2 {
    font-size: 27px;
    margin-bottom: 8px;
}

#About p {
    width: 40vw;
    font-size: 17px;
}

.about_us {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 35vh;
    height: 30vh;
}

.about_us div {
    background-color: #beb4ff;
    border-radius: 10px;
    padding: 10px;
}

.teachers {
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
    height: 20vh;
}

.teachers ol li {
    padding: 10px;
    background-color: #beb4ff;
    border-radius: 10px;
}

/* Our Books */

#books {
    display: flex;
    flex-direction: column;
    background-color: #efebff;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    color: black;
    width: 100%;
    height: 100vh;
}

#books h2 {
    margin-top: 10vh;
    font-size: 2rem;
}

#books ul {
    display: flex;
    align-items: center;
}

#books ul li {
    margin-top: 8vh;
    background-color: white;
    margin-left: 35px;
    list-style: none;
    /* border: 2px solid red; */
    height: 60vh;
    border-radius: 10px;
    padding: 10px;
    background-color: #beb4ff;
}

#books span {
    font-weight: bold;
}

#books img {
    background-color: white;
    width: 200px;
    height: 35vh;
}

#books button {
    margin: 8px;
    font-size: 17px;
    border-radius: 6px;
}

#books button a {
    color: black;

}

#books button :hover {
    background-color: aquamarine;
}

#books ul a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: 0.3s ease;
}

/* Courses */

#courses {
    display: flex;
    flex-direction: column;
    background-color: #efebff;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    color: black;
    width: 100%;
    height: 120vh;
}

#courses h2 {
    margin-top: 12vh;
    margin-bottom: 6vh;
    font-size: 1.7rem;
}

#courses ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px 40px;
}

#courses div ul li {
    list-style: none;
    font-weight: bold;
}

#courses div ul li img {
    width: 140px;
    height: 20vh;
}

#courses div ul li :hover {
    cursor: pointer;
}

/* Contact */

#contact {
    display: flex;
    flex-direction: column;
    background-color: #efebff;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    color: black;
    width: 100%;
    height: 100vh;
}

#contact h2 {
    font-size: 1.7rem;
    margin-top: 12vh;
    margin-bottom: 6vh;
}

#contact div img {
    width: 20px;
    margin-right: 5px;
    height: 20px;
}

#contact span {
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 1.5rem;
}

#contact .container {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: auto auto;
}

#contact .contact_right {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
}

#contact input {
    margin: 10px;
    border: 2px solid #beb4ff;
}

#contact textarea {
    border: 2px solid #beb4ff;
    text-align: center;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#name,
#email,
#phone {
    height: 30px;
    width: 220px;
    border-radius: 5px;
    text-align: center;
}

#message {
    height: 130px;
    text-align: center;
    border-radius: 10px;
}

.container li {
    list-style: none;
    margin: 35px;
    cursor: pointer;
}

.container button {
    width: 180px;
    margin-left: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #beb4ff;
    margin-top: 10px;
    cursor: pointer;
}

.container a {
    text-decoration: none;
    color: black;
}

/* footer */

.footer {
    background-color: #beb4ff;
    height: 50vh;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
}

.mid_footer li {
    list-style: none;
    padding: 10px;
}

.mid_footer li a {
    text-decoration: none;
}

.mid_footer li :hover {
    color: #9e1818;
}

.footer div img {
    width: 30px;
    cursor: pointer;
    margin-top: 15px;
    height: 30px;
}

.right_footer li {
    list-style: none;
}

/* media queries */

@media screen and (max-width: 700px) {
    /* navbar */

    nav {
        display: none;
    }

    /* about */
    #About {
        display: flex;
        flex-direction: column;
        height: 120vh;
        justify-content: flex-start;
        align-items: center;
    }

    .about_us {
        margin-top: 0px;
        width: 70%;
        margin-top: 40px;

    }

    .teachers {
        margin-top: 0;
        width: 70%;
    }

    /* books */

    #books {
        display: flex;
        flex-direction: column;
        height: 170vh;
    }

    #books ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* courses */

    #courses {
        height: 135vh;
    }

    #courses ul {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 500px) {

    #home,
    #About,
    #books,
    #courses,
    footer,
    #contact {
        width: 600px;
    }

    #home {
        height: 1000px;
    }

    #home h2 {
        width: 300px;
    }

    #home p {
        width: 300px;
    }

    #About {
        height: 100vh;
    }

    #About p {
        width: 100vw;
    }

    #courses {
        height: 190vh;
    }

    #courses ul {
        grid-template-columns: auto auto;
    }

}

@media screen and (max-width: 400px) {
    #home {
        height: 1100px;
    }

    #About {
        padding-top: 200px;
        height: 1000px;
    }

    #contact {
        height: 800px;
    }
}

@media screen and (max-width: 300px) {
    #home {
        height: 1300px;
    }

    #About {
        padding-top: 250px;
        height: 1100px;
    }

    #contact {
        height: 800px;
    }
}

/* responsive navbar */


@media (max-width: 880px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-bar li {
        padding: 8px;
    }

    .links.active {
        display: flex;
    }

    .right {
        margin-top: 300px;
    }

    .left {
        margin-bottom: 10px;
    }

    .firstsection,
    .secondsection {
        margin-left: 150px;
    }

    #skills_main {
        margin-left: 150px;
    }

    .education {
        width: 100%;
    }
}

.nav,
.nav .nav-links {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-between;
}

a {
    color: #fff;
    text-decoration: none;
}

.nav .logo {
    font-size: 22px;
    font-weight: 500;
}

.nav .nav-links {
    column-gap: 20px;
    list-style: none;
}

.nav .nav-links a {
    transition: all 0.2s linear;
}
    
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
}

/* responsive */

@media screen and (max-width: 1160px) {
    .nav {
        padding: 15px 100px;
    }

}

@media screen and (max-width: 950px) {
    .nav {
        padding: 15px 50px;
    }

}

@media screen and (max-width: 768px) {

    header nav {
        display: none;
    }

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        row-gap: 30px;
        flex-direction: column;
        background-color: rgb(204, 193, 255);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }

    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
}
